#aboutHeader, #coursesHeader, #interestsHeader, #formHeader {
    font-family: Georgia, serif;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: hsl(0,100%,25%);
    background-color: #adcaf8;
    padding: 10px;
}

#profilePic {
    position: absolute;
    height: 220px;
    width: 300px;
    top: 8px;
    right: 8px;
    border-left: 1px solid black;
}

#aboutMe {
    padding: 10px;
    width: 75%;
}

.currentClasses {
    color: hsl(120,53%,42%);
}

.secondStyle {
    padding: 0 0 0 10px;
}

table, th, td, body {
    border: 1px solid black;
}

tr:nth-child(even) {
    background-color: hsl(0,0%,85%);
}