#aboutHeader, #coursesHeader, #interestsHeader, #formHeader {
    font-family: Georgia, serif;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: #800000;
    background-color: #adcaf8;
    padding: 10px;
}

#profilePic {
    position: absolute;
    height: 220px;
    width: 300px;
    top: 8px;
    right: 8px;
    border-left: 1px solid black;
}

#aboutMe {
    padding: 10px;
    width: 75%;
}

.currentClasses {
    color: #32a332;
}

.secondStyle {
    padding: 0 0 0 10px;
}

table, th, td {
    border: 1px solid black;
}

tr:nth-child(even) {
    background-color: #d8d8d8;
}

body {
    border: 1px solid black;
}